---
layout: page
description: "New Years works for me."
---

<div class="center constrained-width pa3 pb5">
  <h1 class="mb0">Goals</h1>
  <p class="f5 mt0 silver">New Year's works for me.</p>

  <h2>2017</h2>
  <ul class="list f5 pl0 ma0">
    <li>
      {% include checkbox-item.html text="Build 12 \"things\"" %}
      <ul class="list pl4">
        <li>{% include checkbox-item.html text="Hey Habit" checked=true %}</li>
        <li>{% include checkbox-item.html text="keslertanner.com" checked=true %}</li>
        <li>{% include checkbox-item.html text="Family Tree Prints" checked=true %}</li>
        <li>{% include checkbox-item.html text="Bookroo Blog" checked=true %}</li>
        <li>{% include checkbox-item.html text="Reverse Raffle" checked=true %}</li>
        <li>{% include checkbox-item.html text="Study Scriptures" %}</li>
        <li>{% include checkbox-item.html text="HCI website" %}</li>
        <li>{% include checkbox-item.html text="Marian" %}</li>
        <li>{% include checkbox-item.html text="Juxxt" %}</li>
        <li>{% include checkbox-item.html text="" %}</li>
        <li>{% include checkbox-item.html text="" %}</li>
        <li>{% include checkbox-item.html text="" %}</li>
      </ul>
    </li>
    <li>{% include checkbox-item.html text="Publish at CHI" %}</li>
    <li>{% include checkbox-item.html text="Pass Quals" %}</li>

  </ul>
  
</div>