<nav class="Basic-nav p2 c bg pt3 pb0">
  <div class="df flex-wrap-wrap align-items-baseline">
    <div class="center constrained-width ph3">
      <div class="flex flex-wrap nl2 nlr2">
        <a class="color-inherit fs1 fw6 pb2 pt2 link ml2 mr2" href="/">Home</a>
        <a class="color-inherit fs1 fw6 pb2 pt2 link ml2 mr2" href="https://github.com/keslert">GitHub</a>
        <a class="color-inherit fs1 fw6 pb2 pt2 link ml2 mr2" href="/writing">Writing</a>
        <a class="color-inherit fs1 fw6 pb2 pt2 link ml2 mr2" href="/reading-log">Reading</a>
      </div>
    </div>
  </div>
</nav>