@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body {
  font-size: 14px;
}

.x0 {
  font-family: "Lato", Helvetica, sans-serif;
  line-height: 1.5;
  color: #202020;
  margin: 0;
}

.constrained-width {
  max-width: 1024px;
}