.card {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 
              0 5px 15px rgba(0,0,0,.07);
  & > a[data-lity] {
    position: relative;
    &:before {
      content: "\f144";
      font-family: FontAwesome;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background: rgba(0,0,0,.6);
      color: #fff;
      opacity: 0;
      transition: opacity 300ms ease-in;
      font-size: 4em;
    }
    &:hover:before {
      opacity: 1;
    }
  }
}