


.post {
  
  img {
    max-height: 500px;
    margin: 1.8em auto;
  }
  
  .caption {
    margin-top: -1.5em;
    margin-bottom: 2.3em;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
  }

  a {
    color: inherit;
  }

  p {
    font-size: 1.1em;
    line-height: 1.7em;
    & + p {
      margin-top: 1em;
    }
  }

  img {
    display: block;
  }

  h2, h3, h4, h5, h6 {
    margin: 2.0em 0 0.5em;
  }

  ol, ul {
    padding: 1em;
  }

  hr {
    margin: 4em 0;
  }
  
  blockquote {
    margin: 2em 0;
    padding: 0 2em;
    border-left: 2px solid $grey-color;
  }

  iframe {
    margin-top: 2em;
  }

  pre {
    padding: 10px;
    font-size: 0.8em;
    overflow: auto;
  }
}