---
layout: page
description: "My sparse written word."
---

<div class="center constrained-width pa3 pb5">
  <h1 class="mb0">Reading</h1>
  <p class="f5 mt0 silver">Rated on a scale 7-point scale where 1=Awful and 7=Harry Potter</p>

  <h2>2019</h2>
  <div class="ph2">
    {% include books-by-year.html year=2019 %}
  </div>

  <h2>2018</h2>
  <div class="ph2">
    {% include books-by-year.html year=2018 %}
  </div>

  <h2>2017</h2>
  <div class="ph2">
    {% include books-by-year.html year=2017 %}
  </div>
  
  <h2>2016</h2>
  <div class="ph2">
    {% include books-by-year.html year=2016 %}
  </div>

  <h2>2015</h2>
  <div class="ph2">
    {% include books-by-year.html year=2015 %}
  </div>

  <h2>2014</h2>
  <div class="ph2">
    {% include books-by-year.html year=2014 %}
  </div>

  <h2>To Read:</h2>
  <ul class="list">
    <li>Name of the Wind</li>
    <li>Earth Abides</li>
    <li>What Every Body is Saying</li>
    <li>How to Win Friends and Influence People — Dale Carnegie</li>
    <li>Zero to One — Peter Thiel</li>
    <li>The Hard Thing About Hard Things — Ben Horowitz</li>
    <li>Law of Success — Napoleon Hill</li>
    <li>Think and Grow Rich — Napoleon Hill</li>
    <li>Good to Great — Jim Collins</li>
    <li>The Lean Startup — Eric Ries</li>
    <li>The Charisma Myth — Olivia Fox Cabane</li>
    <li>Lean Analytics: Use Data to Build a Better Startup Faster — Alistair Croll</li>
  </ul>




</div>