---
layout: page
description: "My sparse written word."
---

<div class="center constrained-width pa3 pb5">
  <h1 class="mb0">Reading</h1>
  <p class="f5 mt0 silver">Rated on a scale 7-point scale where 1=Awful and 7=Harry Potter</p>

  <h2>2017</h2>
  <div class="ph2">
    {% include books-by-year.html year=2017 %}
  </div>
  
  <h2>2016</h2>
  <div class="ph2">
    {% include books-by-year.html year=2016 %}
  </div>

  <h2>2015</h2>
  <div class="ph2">
    {% include books-by-year.html year=2015 %}
  </div>

  <h2>2014</h2>
  <div class="ph2">
    {% include books-by-year.html year=2014 %}
  </div>

  <h2>To Read:</h2>
  <ul class="list">
    <li>Earth Abides</li>
    <li>What Every Body is Saying</li>
  </ul>


</div>